---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BlogPostLayout from "@layouts/BlogPostLayout.astro";
import "@styles/print.css";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);
---

<BlogPostLayout {...post.data}>
  <div class="no-print mb-4">
    <a class="text-primary hover:text-accent transition-colors" href="/blog">
      ← Go back</a
    >
    <p class="text-primary/40">{remarkPluginFrontmatter.minutesRead}</p>
  </div>
  <div
    class="prose text-content prose-h4:text-primary prose-a:text-accent/60 prose-a:hover:text-accent"
  >
    <Content />
  </div>
</BlogPostLayout>
