---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "@layouts/BaseLayout.astro";
import PostPreview from "@components/PostPreview.astro";
import Heading from "@components/Heading.astro";
import { Pages } from "@data/pages";
import { getPageKey } from "@utils/page";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const { pathname } = Astro.url;
const { title, description } = Pages[getPageKey(pathname)];
---

<Layout title={title} description={description}>
  <section class="pt-4 italic">
    <Heading title="All Posts" hasSeparator={true} />
  </section>
  <section class="text-content">
    {posts.map((post) => <PostPreview post={post} variant="moderate" />)}
  </section>
</Layout>
