---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "@layouts/BaseLayout.astro";
import PostPreview from "@components/PostPreview.astro";
import Heading from "@components/Heading.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const title = "I'm manuel.djs | Blog";
const description =
  "A page where you will find my posts. I write about my experience in the continuously changing tech landscape, what I learn, and tech-related stuff that interests me, etc.";
---

<Layout title={title} description={description}>
  <section class="pt-4 italic">
    <Heading title="All Posts" hasSeparator={true} />
  </section>
  <section class="text-content">
    {posts.map((post) => <PostPreview post={post} variant="moderate" />)}
  </section>
</Layout>
