@import "tailwindcss";
@plugin '@tailwindcss/typography';

/* Tailwind Color Theme */
@theme {
  /* deep sea */
  --color-surface: #122340;
  /* lemon sorbet  */
  --color-primary: #feffa1;
  /* royal purple */
  --color-secondary: #432183;
  /* electric lime  */
  --color-accent: #a2ec45;
  /* dark slate blue */
  --color-surface-elevated: #1a2d4a;
  /* Midnight-blue  */
  --color-surface-hover: #203354;
  /* slate gray  */
  --color-divider: #2a3f5f;
  /* light steel blue */
  --color-muted: #a8bfd9;
  /* powder blue */
  --color-content: #d6e3f5;
}

/* Typography  */

body {
  font-family: "Source Serif 4";
  font-weight: 400;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.2;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.053rem; /* 48.8px */
}

h2 {
  font-size: 2.442rem; /* 39.04px */
}

h3 {
  font-size: 1.954rem; /* 31.2px */
}

h4 {
  font-size: 1.563rem; /* 24.96px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

small {
  font-size: 0.8rem; /* 12.8px */
}

.ff-jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
}

/* Below 640px (smaller headings, same ratio) */
@media (max-width: 639px) {
  h1 {
    font-size: 2.488rem; /* ~39.8px */
  }

  h2 {
    font-size: 1.99rem; /* ~31.8px */
  }

  h3 {
    font-size: 1.563rem; /* ~25px */
  }

  h4 {
    font-size: 1.25rem; /* 20px */
  }

  h5 {
    font-size: 1rem; /* 16px */
  }

  .prose-container h1 {
    font-size: 1.99rem; /* ~31.8px */
  }
  .prose-container h2 {
    font-size: 1.592rem; /* ~25.5px */
  }
  .prose-container h3 {
    font-size: 1.274rem; /* ~20.4px */
  }
  .prose-container h4 {
    font-size: 1.019rem; /* ~16.3px */
  }
  .prose-container h5 {
    font-size: 0.815rem; /* ~13px */
  }
}
