---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="Not Found"
  description="404 Error — this page was not found"
  pubDate={new Date("August 08 2025")}
>
  <div class="">
    <h1 class="text-primary">Page not Found - 404</h1>
    <p class="text-content">
      We were unable to locate this page. Please go back to <a
        class="text-accent"
        href="/">Homepage</a
      >
    </p>
  </div>
</BaseLayout>
