---
import Layout from "@layouts/BaseLayout.astro";
---

<Layout
  title="Homepage"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2025")}
>
  <div class="text-content">
    <p>
      I'm Manuel De Jesús (manuel.djs) a software developer who has been around
      the web either providing support to Websites (mostly php-based ones) or
      working on personal projects. This is my blog and excited to share my
      knowledge and keep learning. See all of the <a
        class="text-accent"
        href="/blog">posts in my blog</a
      >
    </p>
    <br />
  </div>
</Layout>
