---
import { getCollection } from "astro:content";
import Box from "@components/Box.astro";
import Layout from "@layouts/BaseLayout.astro";
import LatestPosts from "@components/LatestPosts.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const title = "I'm manuel.djs | Homepage";
const description =
  "A page where you will find my posts. I write about my experience in the continuously changing tech landscape, what I learn, and tech-related stuff that interests me, etc.";

const bioSummary =
  "I'm Manuel De Jesús (manuel.djs). A software developer who has worked as technical support. That role allowed me to provide support to customers in websites (mostly php-based ones, WordPress, Laravel, etc.). Moreover, I've worked with React and Astro.js either for freelancing purpose or personal projects. This is a place to share my experience, learn by sharing, and an excuse to write. I will share posts on Tuesday. ";
---

<Layout title={title} description={description}>
  <section class="mb-25 pt-10">
    <div class="title-container">
      <h1 class="text-primary text-center font-bold italic">
        Welcome <span id="welcome-word" class="text-content inline-block transition-opacity duration-300 ease-in-out"
          >to</span
        > my blog!
      </h1>
    </div>
    <Box>
      <h4 slot="box-heading" class="text-primary mb-1">
        &lt;AuthorBioSummary <span class="hidden md:inline">title="Software Developer"</span> /&gt;
      </h4>
      <p slot="box-body" class="text-content mb-4">{bioSummary}</p>
    </Box>
  </section>
  <LatestPosts {posts} />
</Layout>

<script>
  const word = document.getElementById("welcome-word");

  function toggleWord() {
    if (word) {
      word.style.opacity = "0";
      setTimeout(() => {
        word.textContent = word.textContent === "to" ? "back to" : "to";
        word.style.opacity = "1";
      }, 150);
    }
  }

  setInterval(toggleWord, 5000);
</script>

<style>
  .title-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    min-height: 7rem;
    margin-bottom: 1.5rem;
  }

  @media (width >= 640px) {
    .title-container {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      min-height: 3rem;
      margin-bottom: 1rem;
    }
  }
</style>
