<div
  class="group bg-surface-elevated hover:bg-surface-hover border-divider w-full rounded-lg border-1 border-solid p-4 shadow-lg"
>
  <slot name="box-heading" />
  <hr class="text-divider group-hover:text-surface-elevated m-auto mb-4 w-full" />
  <slot name="box-body" />
</div>
