---
import { Icon } from "astro-icon/components";
const today = new Date();
---

<footer>
  <p class="text-primary">
    &copy; {today.getFullYear()} Manuel De Jesús. All rights reserved.
  </p>
  <div class="social-links text-accent">
    <a href="https://www.linkedin.com/in/manueldjesus/" target="_blank">
      <span class="sr-only">Go to my Linkedin profile</span>
      <Icon name="mdi:linkedin" size={32} />
    </a>
    <a href="https://github.com/ernest03011" target="_blank">
      <span class="sr-only">Go to my GitHub repo</span>
      <Icon name="mdi:github" size={32} />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2rem 1rem;
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
  }
</style>
