---
import { Icon } from "astro-icon/components";
const today = new Date();
import { SocialLinks } from "@data/social-links";
---

<footer class="border-divider border-t-1 border-solid">
  <p class="text-primary">
    &copy; {today.getFullYear()} Manuel De Jesús. All rights reserved.
  </p>
  <div class="social-links text-accent">
    {
      SocialLinks.map((socialLink) => {
        return (
          <a href={socialLink.href} target="_blank">
            <span class="sr-only">{socialLink.srMessage}</span>
            <Icon name={socialLink.iconName} size={32} />
          </a>
        );
      })
    }
  </div>
</footer>
<style>
  footer {
    padding: 2rem 1rem;
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    margin-top: 1em;
  }
  .social-links a {
    padding: 0.5rem 0.1em;
    text-decoration: none;
  }
</style>
