---
import type { HTMLAttributes } from "astro/types";

type NavItem = {
  navItem: string;
};

type Props = HTMLAttributes<"a"> & NavItem;

const { href, class: className, navItem, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  {navItem}
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    transition: 1s;
  }
  a.active {
    font-weight: bolder;
    font-style: italic;
    color: var(--color-primary);
  }

  a:hover {
    color: var(--color-accent);
  }
</style>
