---
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon/components";
---

<header class="sticky top-0 z-50 border-b shadow-md">
  <nav class="">
    <h2 class="text-primary ff-jetbrains-mono"><a href="/">manuel.djs</a></h2>
    <div class="internal-links text-content">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="social-links text-accent">
      <a href="https://www.linkedin.com/in/manueldjesus/" target="_blank">
        <span class="sr-only">Go to my Linkedin profile</span>
        <Icon name="mdi:linkedin" size={32} />
      </a>
      <a href="https://github.com/ernest03011" target="_blank">
        <span class="sr-only">Go to my GitHub repo</span>
        <Icon name="mdi:github" size={32} />
      </a>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
